[project]
name = "ultra"
channels = ["https://prefix.dev/conda-forge"]
description = "dependencies for ultra foundation model"
platforms = ["linux-64"]

[dependencies]
ninja = "*"
easydict = "*"
pyyaml = "*"

[pypi-dependencies]
polars = ">=1"

[feature.gpu]
system-requirements = {cuda = "12.4"}

[feature.gpu.target.linux-64.dependencies]
pytorch-gpu = ">=2.1.0"
pytorch_scatter = ">=2.1.2"
pytorch_geometric = ">=2.4.0"
cuda-nvcc = ">=12.6.85,<13"
cuda = ">=12.6.3,<13"
torchvision = ">=0.20.1,<0.21"

[feature.datasci]
[feature.datasci.target.linux-64.dependencies]
pandas = "*"
ipykernel = "*"
seaborn = ">=0.13.2,<0.14"
boto3 = ">=1.36.4,<2"
tensorboard = ">=2.18.0,<3"
mlflow = ">=2.20.1,<3"
sagemaker-mlflow = ">=0.1.0,<0.2"

[environments]
gpu = ["gpu"]
datasci = ["datasci"]
default = ["gpu","datasci"]
