local_output_dir: ~/PrimeKG-Ultra/output/ # full/path/to/output/folder where you want to push your output

dataset:
  class: {{ dataset }}
  root: {{ data_dir }} # wherever your dataset is stored

model:
  class: Ultra
  relation_model:
    class: RelNBFNet
    input_dim: 64
    hidden_dims: [64, 64, 64, 64, 64, 64]
    message_func: distmult
    aggregate_func: sum
    short_cut: yes
    layer_norm: yes
  entity_model:
    class: EntityNBFNet
    input_dim: 64
    hidden_dims: [64, 64, 64, 64, 64, 64]
    message_func: distmult
    aggregate_func: sum
    short_cut: yes
    layer_norm: yes

task:
  name: TransductiveInference
  num_negative: 256
  strict_negative: yes
  adversarial_temperature: 1
  metric: [mr, mrr, hits@1, hits@3, hits@10]

optimizer:
  class: AdamW
  lr: 5.0e-4

train:
  gpus: {{ gpus }}
  batch_size: 8
  num_epoch: 0
  log_interval: 100
  batch_per_epoch: null
checkpoint: {{ ckpt }} # full/path/to/ckpt/.pth
infer:
  h_ent: {{ h_ent }} #'MONDO:12345'
  rel: {{ rel }} #'associated with'